$small-spacing: 15px;

// font sizes
$title: 4vmin;
$big-font: 7vmin;

// font colours 
$primary-colour: #194545;
$secondary-colour: #9FC264;

// background colours 
$footer-base: #659798;
$base-colour: #BED8D7;
$light-gray: #F6F6F6;

// buttons 
$border: 3px solid $secondary-colour;
$sub-border: 3px solid $base-colour;